@model AniBaseFinal.Models.Anime

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Anime</h4>
        <hr />
        @Html.ValidationSummary(true)


        <div class="form-group">
            @Html.LabelFor(model => model.TITLE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TITLE)
                @Html.ValidationMessageFor(model => model.TITLE)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AIRING, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AIRING)
                @Html.ValidationMessageFor(model => model.AIRING)
                Example: true or false
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DESCRIPTION, new { @class = "control-label col-md-2" })
            <div class="col-md-10"> 
                @Html.EditorFor(model => model.DESCRIPTION)
                @Html.ValidationMessageFor(model => model.DESCRIPTION)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TYPE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TYPE)
                @Html.ValidationMessageFor(model => model.TYPE)
                Example: TV, OVA, Movie, Special.
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EPISODES, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EPISODES)
                @Html.ValidationMessageFor(model => model.EPISODES)
                Example: 1 or 399 or 12
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SCORE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SCORE)
                @Html.ValidationMessageFor(model => model.SCORE)
                Example: 6.9 or 9.0 (maxium is 10)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SDATE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SDATE)
                @Html.ValidationMessageFor(model => model.SDATE)
                Format : yyyy/mm/dd
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EDATE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EDATE)
                @Html.ValidationMessageFor(model => model.EDATE)
                Format: yyyy/mm/dd
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
