@model AniBaseFinal.Models.Anime

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Anime</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.ID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ID)
                @Html.ValidationMessageFor(model => model.ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.URL, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.URL)
                @Html.ValidationMessageFor(model => model.URL)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IMGURL, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IMGURL)
                @Html.ValidationMessageFor(model => model.IMGURL)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TITLE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TITLE)
                @Html.ValidationMessageFor(model => model.TITLE)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AIRING, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AIRING)
                @Html.ValidationMessageFor(model => model.AIRING)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DESCRIPTION, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DESCRIPTION)
                @Html.ValidationMessageFor(model => model.DESCRIPTION)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TYPE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TYPE)
                @Html.ValidationMessageFor(model => model.TYPE)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EPISODES, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EPISODES)
                @Html.ValidationMessageFor(model => model.EPISODES)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SCORE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SCORE)
                @Html.ValidationMessageFor(model => model.SCORE)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SDATE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SDATE)
                @Html.ValidationMessageFor(model => model.SDATE)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EDATE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EDATE)
                @Html.ValidationMessageFor(model => model.EDATE)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
