@model AniBaseFinal.Models.Anime

@{
    ViewBag.Title = "Details";
    var image = "https://myanimelist.cdn-dena.com/images/anime/" + @Model.IMGURL;
}

<h2>Details</h2>

<div>
    <h4>Anime</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TITLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TITLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IMGURL)
        </dt>
        
        <dd>
            <img src="@image" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPTION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPTION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EPISODES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EPISODES)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { ID = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
