@model AniBaseFinal.Models.Anime

@{
    ViewBag.Title = "Edit";
}
<header class="w3-container w3-red w3-center" style="padding:128px 16px; background-image:url(/images/BackgroundFull.jpg); background-size: cover; ">
    <h1>Re-edit the anime</h1>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container" style="">
    <div class="w3-content">
        <div class="row">
            @using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.TITLE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TITLE)
                @Html.ValidationMessageFor(model => model.TITLE)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DESCRIPTION, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DESCRIPTION)
                @Html.ValidationMessageFor(model => model.DESCRIPTION)
            </div>
        </div>

        @Html.HiddenFor(model => model.URL)

        @Html.HiddenFor(model => model.AIRING)

        @Html.HiddenFor(model => model.IMGURL)

        @Html.HiddenFor(model => model.SDATE)

        @Html.HiddenFor(model => model.EDATE)

        @Html.HiddenFor(model => model.SCORE)

        <div class="form-group">
            @Html.LabelFor(model => model.TYPE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TYPE)
                @Html.ValidationMessageFor(model => model.TYPE)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EPISODES, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EPISODES)
                @Html.ValidationMessageFor(model => model.EPISODES)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
        </div>
    </div>

    <div class="w3-third w3-center">


        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Quote of the day:<div id="quote"></div></h1>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
