@model IEnumerable<AniBaseFinal.Models.Anime>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("TITLE", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IMGURL)
        </th>
        <th>
            @Html.ActionLink("TYPE", "Index", new { sortOrder = ViewBag.TitleSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SCORE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EPISODES)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TITLE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IMGURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TYPE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SCORE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EPISODES)
        </td> 
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
