<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@model IEnumerable<AniBaseFinal.Models.Anime>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "AnimeView", FormMethod.Get))
{
    @Html.TextBox("searching")
    <input type="submit" value="submit"/>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("TITLE", "Index", new { sortOn = "TITLE", orderBy = ViewBag.OrderBy, pSortOn = ViewBag.SortOn })
        </th>
        <th>
            
            @Html.DisplayNameFor(model => model.IMGURL)
        </th>
        <th>
            @Html.ActionLink("TYPE", "Index", new { sortOn = "TYPE", orderBy = ViewBag.OrderBy, pSortOn = ViewBag.SortOn })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SCORE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EPISODES)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TITLE)
        </td>
        <td>
            var image = "https://myanimelist.cdn-dena.com/images/anime/" + @item.IMGURL;
            <img src="image" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TYPE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SCORE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EPISODES)
        </td> 
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}
</table>